.canva {
    display: flex;
    flex-direction: column;
    width: 40vw;
    max-height: 100vh;
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .button {
            height: 48px;
        }
    }
}

.accelerator {
    position: relative;
    overflow: auto;
    border-radius: 16px;
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 2;
    margin: 20px 0;

    & > * {
        z-index: 2;
    }

    &:after {
        background-image: url("../../../../assets/background.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        z-index: 1;
        overflow: auto;
    
    }
}