.description-box {
    max-width: 200px;
    background-color: #282c34;
    color: white;
    z-index: 9999;
    padding: 16px;
    padding-top: 0;
    box-shadow: 10px 5px 40px #0000006a;
    position: absolute;
    top: 0; 
    margin-left: 200px;
    border: gray 4px solid;
    border-radius: 8px;
}